<!DOCTYPE html>
<html lang="en">
  <head>
  	<title>404 Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  	<link href="https://fonts.googleapis.com/css?family=Baloo+Paaji" rel="stylesheet">
  	<link rel="stylesheet" type="text/css" href="/css/404.css">
  </head>
  <body class="color">
  	<div class="container-fluid  ">
  		<div class="col-md-6 offset-md-3 text-center mt-5 pt-5">
  			<div class="bg-light card cd-shadow text-center">
      		<h1 class="display-1 custom-font align-items-center">404</h1>
      		<div class="container">
            <h3 class="md-0">Whatever you're looking for..it's not here...</h3>
          </div>
      		<div class="card-footer bg-light">
            <ul class="nav justify-content-center">
              <li class="nav-item">
                <a class="nav-link disabled" href="/">Homepage</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link disabled" href="/contact">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
  	 </div>
  	</div>
  </body>
</html>