<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Donatepal - Login
    </title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="/css/material-kit.css?v=2.0.7" rel="stylesheet" />

</head>

<body>

    <div id="nav-tabs">


        <nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100"
            id="sectionsNav">
            <div class="container">
                <div class="navbar-translate ">

                    <a href="/">
                        <img class="" src="/images/logowhite.png" style="z-index: 99; height: 150px;">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse">

                </div>
            </div>
        </nav>
        <div class="page-header header-filter"
            style="background-image: url('/images/bg-login.webp'); background-size: cover; background-position: top center;">
            <div class="container">
                <br>
                <br>
                <br>
                <br>




                <div class="row">
                    <div class="col-md-8 mr-auto ml-auto">

                        <!-- Tabs with icons on Card -->
                        <div class="card card-nav-tabs">
                            <div class="card-header card-header-primary">
                                <h3 class="">Donation Form </h3>
                                <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                                <div class="nav-tabs-navigation">
                                    <div class="nav-tabs-wrapper">
                                        <ul class="nav nav-tabs" data-tabs="tabs">
                                            <li class="nav-item">
                                                <a class="nav-link active" href="#profile" data-toggle="tab">
                                                    <i class="material-icons">library_books</i>
                                                    Donation Details
                                                </a>
                                            </li>

                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#finish" data-toggle="tab">
                                                    <i class="material-icons">done</i>
                                                    finish
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body ">
                                <div class="tab-content text-center">
                                    <div class="tab-pane active" id="profile">

                                        <form action="/donate" method="POST" id="donation_form">


                                            <div class="row">

                                                <div class="col-md-12">
                                                    <label class=""> Choose Your Payment Method <a class="text-primary">
                                                            (required) &#8203;</a></label>
                                                    <select
                                                        style="background-color: rgba(255, 255, 255, 0); border: 1px solid #d2d2d2;padding: 5px;"
                                                        placeholder="Choose Your Payment Method" name="payment_method"
                                                        required>
                                                        <option value="card">Card</option>
                                                        <option value="cash">Cash</option>
                                                        <option value="banktransfer">Bank Transfer</option>
                                                        <option value="cryptocurreny">Crypto Currency</option>

                                                    </select>


                                                </div>

                                            </div>
                                            <br>
                                            <div class="row">
                                               

                                                <style>
                                                    .col-centered {
                                                        float: none;
                                                        margin: 0 auto;

                                                    }
                                                </style>
                                                <div class="col-md-6 ">


                                                    <div class="form-group bmd-form-group">
                                                        <label class="bmd-label-floating">
                                                            Amount <a class="text-primary">(required)</a></label>
                                                        <input class="form-control" min="0.01" name="amount"
                                                            value="1.00" step="0.01" max="12500" type="number" required>
                                                        <span class=" bmd-help">Required</span>
                                                    </div>

                                                </div>

                                                <div class="col-md-6 ">
<!-- <br> -->

                                                    <label class=""> Select a Fundraiser<a class="text-primary">
                                                        (required) &#8203;</a></label>
                                                <select
                                                    style="background-color: rgba(255, 255, 255, 0); border: 1px solid #d2d2d2;padding: 5px;"
                                                    placeholder="Choose Your Payment Method" name="fundraiser"
                                                    required>
                                                    {{.fundraiser_options}}
                                                    <!-- <option value="banktransfer">Bank Transfer</option>
                                                    <option value="cryptocurreny">Crypto Currency</option> -->

                                                </select>


                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6 unanymous">

                                                    <div class="form-group bmd-form-group">
                                                        <label class="bmd-label-floating">
                                                            First Name (optional)</label>
                                                        <input type="text" class="form-control unanymous"
                                                            name="firstname">
                                                        <span class="bmd-help">Optional</span>
                                                    </div>


                                                </div>
                                                <div class="col-md-6 unanymous">
                                                    <div class="form-group bmd-form-group">
                                                        <label class="bmd-label-floating">
                                                            Last Name (optional)</label>
                                                        <input type="text" class="form-control unanymous"
                                                            name="lastname">
                                                        <span class="bmd-help">Optional</span>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6 unanymous">

                                                    <div class="form-group bmd-form-group">
                                                        <label class="bmd-label-floating">
                                                            Email (optional)</label>
                                                        <input type="email" class="form-control unanymous" name="email">
                                                        <span class="bmd-help">Optional</span>
                                                    </div>


                                                </div>
                                                <div class="col-md-6 unanymous">

                                                    <div class="form-group bmd-form-group">
                                                        <label class="bmd-label-floating">
                                                            Address (optional)</label>
                                                        <input type="text" name="address"
                                                            class="form-control unanymous">
                                                        <span class="bmd-help">Optional</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row unanymous">
                                                <div class="col-md-7">
                                                    <div class="form-group bmd-form-group">
                                                        <label class="bmd-label-floating">
                                                            Phone Number (optional)</label>
                                                        <input name="phone" type="text" class="form-control unanymous">
                                                        <span class="bmd-help">Optional</span>
                                                    </div>


                                                </div>
                                                <div class="col-md-4 ">
                                                    <style>
                                                        input[type="date"][disabled] {
                                                            background-color: white;
                                                        }
                                                    </style>

                                                    <div class="form-group bmd-form-group">
                                                        <label class="bmd-label-floating">
                                                            Donation Date </label>
                                                        <input type="date" name="date_donated" class="form-control"
                                                            id="theDate" style="" value="" disabled>

                                                        <script>
                                                            document.getElementById("theDate").valueAsDate = new Date()


                                                        </script>
                                                        <span class="bmd-help">required</span>
                                                    </div>

                                                </div>
                                            </div>


                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" type="radio"
                                                                name="donation_type" id="exampleRadios1"
                                                                value="unanymous" checked>
                                                            Unanimous Donation (Known Identity)
                                                            <span class="circle">
                                                                <span class="check"></span>
                                                            </span>
                                                        </label>
                                                    </div>


                                                </div>
                                                <div class="col-md-6">

                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" type="radio"
                                                                name="donation_type" id="exampleRadios2"
                                                                value="anonymous">
                                                            Anonymous Donation (Unknown Identity)
                                                            <span class="circle">
                                                                <span class="check"></span>
                                                            </span>
                                                        </label>
                                                    </div>

                                                </div>
                                            </div>


                                            <br>
                                        </form>
                                    </div>

                                    <div class="tab-pane" id="finish">

                                        <h3> Are You Sure You Have Entered The Correct Information? </h3>
                                        <a class="text-muted">Click On The "<b>Donation Details</b>" Tab Verify Your
                                            Input Before Proceed. </a>
                                        <br>
                                        <a class="text-muted"> If You Are Sure Click <b>Yes i am</b></a>

                                        <div>
                                            <input class="btn btn-primary" value="Yes I AM" type="submit"
                                                form="donation_form">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Tabs with icons on Card -->
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--   Core JS Files   -->
    <script src="/js/core/jquery.min.js" type="text/javascript"></script>
    <script src="/js/core/popper.min.js" type="text/javascript"></script>
    <script src="/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
    <script src="/js/plugins/moment.min.js"></script>
    <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
    <script src="/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="/js/plugins/nouislider.min.js" type="text/javascript"></script>
    <!--  Google Maps Plugin    -->
    <!-- Control Center for Donatepal: parallax effects, scripts for the example pages etc -->
    <script src="/js/material-kit.js?v=2.0.7" type="text/javascript"></script>
    <script src="/js/main.js" type="text/javascript"></script>
</body>

</html>