<!DOCTYPE html>
<html>

<head>
    <title>Donate Pal - Card Payment</title>
    <meta name="viewport" content="initial-scale=1">
    <!-- CSS is included through the card.js script -->
</head>

<body>
    <style>
        .demo-container {
            width: 100%;
            max-width: 350px;
            margin: 50px auto;
        }

        form {
            margin: 30px;
        }

        input {
            width: 200px;
            margin: 10px auto;
            display: block;
        }
    </style>


    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8" />
        <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon.png">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>
            Donatepal - Login
        </title>
        <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
        <!--     Fonts and icons     -->
        <link rel="stylesheet" type="text/css"
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
        <!-- CSS Files -->
        <link href="/css/material-kit.css?v=2.0.7" rel="stylesheet" />

    </head>

    <body>

        <div id="nav-tabs">


            <div class="section">

                <div class="container">

                    <div class="row">
                        <div class="col-md-8 mr-auto ml-auto">

                            <!-- Tabs with icons on Card -->
                            <div class="card card-nav-tabs">
                                <div class="card-header card-header-primary">

                                    <h3 class="">Card Payment </h3>
                                    <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->

                                </div>
                                <div class="card-body ">
                                    <div class="demo-container">
                                        <div class="card-wrapper"></div>


                                        <div class="form-container active form-group has-default bmd-form-group">
                                            <form action="/payment" method="POST" id="paymentform">
                                                <input class="form-control" placeholder="Card number" type="tel"
                                                    name="number" required>
                                                <input class="form-control" placeholder="Full name" type="text"
                                                    name="name" required>
                                                <input class="form-control" placeholder="MM/YY" type="tel"
                                                    name="expiry" required>
                                                <input class="form-control" placeholder="CVC" type="number" name="cvc" required>

                                            </form>

                                        </div>
                                        <br>
                                        <div class="text-center">
                                            <input class="btn btn-primary" type="submit" value="Donate"
                                                form="paymentform">
                                        </div>
                                    </div>

                                    <script src="/ext/card/dist/card.js"></script>
                                    <script>
                                        new Card({
                                            form: document.querySelector('form'),
                                            container: '.card-wrapper'
                                        });
                                    </script>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>

    </html>