.custom-font {
    font-family: 'Baloo Paaji', cursive;
    font-size: 100px;
    font-weight: bold;
}

@media (min-width: 576px) {
    .custom-font {
        font-family: 'Baloo Paaji', cursive;
        font-size: 100px;
        font-weight: bold;
    }
}

@media (min-width: 768px) {
    .custom-font {
        font-family: 'Baloo Paaji', cursive;
        font-size: 150px;
        font-weight: bold;
    }
}

@media (min-width: 992px) {
    .custom-font {
        font-family: 'Baloo Paaji', cursive;
        font-size: 200px;
        font-weight: bold;
    }
}

@media (min-width: 1200px) {
    .custom-font {
        font-family: 'Baloo Paaji', cursive;
        font-size: 280px;
        font-weight: bold;
    }
}

.cd-shadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.cd-shadow:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-footer {
    border: none;
}

.color {
    background-color: black;
}