* {
    font-family: "Helvetica Neue", Helvetica;
    font-size: 15px;
    font-variant: normal;
    padding: 0;
    margin: 0;
  }
  
  html {
    height: 100%;
  }
  
  body {
    background: #E6EBF1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
  }
  
  form {
    width: 480px;
    margin: 20px 0;
  }
  
  .group {
    background: white;
    box-shadow: 0 7px 14px 0 rgba(49,49,93,0.10),
                0 3px 6px 0 rgba(0,0,0,0.08);
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  label, #pouet {
    position: relative;
    color: #8898AA;
    font-weight: 300;
    height: 40px;
    line-height: 40px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
  }
  
  .group label:not(:last-child) {
    border-bottom: 1px solid #F0F5FA;
  }
  
  label > span, #pouet > span {
    width: 80px;
    text-align: right;
    margin-right: 30px;
  }
  
  .field {
    background: transparent;
    font-weight: 300;
    border: 0;
    color: #31325F;
    outline: none;
    flex: 1;
    padding-right: 10px;
    padding-left: 10px;
    cursor: text;
  }
  
  .field::-webkit-input-placeholder { color: #CFD7E0; }
  .field::-moz-placeholder { color: #CFD7E0; }
  
  button {
    float: left;
    display: block;
    background: #666EE8;
    color: white;
    box-shadow: 0 7px 14px 0 rgba(49,49,93,0.10),
                0 3px 6px 0 rgba(0,0,0,0.08);
    border-radius: 4px;
    border: 0;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 400;
    width: 100%;
    height: 40px;
    line-height: 38px;
    outline: none;
  }
  
  button:focus {
    background: #555ABF;
  }
  
  button:active {
    background: #43458B;
  }
  
  .outcome {
    float: left;
    width: 100%;
    padding-top: 8px;
    min-height: 24px;
    text-align: center;
  }
  
  .success-new-card, .success-saved-card, .error {
    display: none;
    font-size: 13px;
  }
  
  .success-new-card.visible, .success-saved-card.visible, .error.visible {
    display: inline;
  }
  
  .error {
    color: #E4584C;
  }
  
  .success-new-card, .success-saved-card {
    color: #666EE8;
  }
  
  .success-new-card .token, .success-saved-card .saved-card, {
    font-weight: 500;
    font-size: 13px;
  }
  