

<body>
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white">
      <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
      <div class="logo">
        <a class="simple-text logo-normal">
          Welcome
        </a>
        <a id="admin" class="simple-text logo-normal">
          <!-- {{.name}} -->
          ADMINSTRATOR
        </a>
      </div>
      <div class="sidebar-wrapper">

        <ul  class="nav">
          <li id="overview" class="nav-item inactive  ">
            <a href="/account/admin/overview" class="nav-link">
              <i  class="material-icons">home</i>
              <p>Overview</p>
            </a>
          </li>


          <li id="transactions" class="nav-item inactive  ">
            <a href="/account/admin/transactions" class="nav-link">
              <i class="material-icons">payment</i>
              <p>Transactions</p>
            </a>
          </li>

          <li id="balance" class="nav-item inactive">
            <a href="/account/admin/balance" class="nav-link">
              <i class="material-icons">assessment</i>
              <p>Balance</p>
            </a>
          </li>

          <li id="reciept" class="nav-item inactive">
            <a href="/account/admin/reciept" class="nav-link">
              <i class="material-icons">file_copy</i>
              <p>Reciept</p>
            </a>
          </li>




          <li id="settings" class="nav-item inactive">
            <a href="/account/admin/settings" class="nav-link">
              <i class="material-icons">settings</i>
              <p>Settings</p>
            </a>
          </li>
          <!-- your sidebar here -->
        </ul>
     
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:;">Dashboard</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/logout">

                  <i class="material-icons">logout</i> Logout
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/">
                  <i class="material-icons">home</i> Homepage
                </a>
              </li>
              <!-- your navbar here -->
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">

          {{.dashboard_content}}

     