<h2>Overview</h2>


<div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 ">
          <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
              <div class="card-icon">
                <i class="material-icons">savings</i>
              </div>
              <p class="card-category">Total Amount Raised</p>
              <h3 class="card-title">${{.amount_raised}}
              </h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">update</i> Just Updated
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
              <div class="card-icon">
                <i class="material-icons">paid</i>
              </div>
              <p class="card-category">Total Number of Transactions </p>
              <h3 class="card-title">{{.amount_of_transactions}}</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">update</i> Just Updated
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-stats">
            <div class="card-header card-header-default card-header-icon">
              <div class="card-icon">
                <i class="material-icons">receipt</i>
              </div>
              <p class="card-category">Total Receipts Generated</p>
              <h3 class="card-title">{{.amount_of_receipts}}</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">update</i> Just Updated
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-stats">
            <div class="card-header card-header-primary card-header-icon">
              <div class="card-icon">
                <i class="material-icons">notifications</i>
              </div>
              <p class="card-category">Notifications</p>
              <h3 class="card-title">0</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">update</i> Just Updated
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
    
  
        <div class="col-md-12">
          <div class="card card-stats">
            <div class="card-header card-header-primary card-header-icon">
              <div class="card-icon">
                <i class="material-icons">groups</i>
              </div>
              <p class="card-category">Fundraiser Status</p>
              <h3 class="card-title">Ongoing</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">update</i> Just Updated
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>