<div class="content">



  <div class="container-fluid">
    <div class="row">

      <div class="col-lg-5 col-md-6 col-sm-6">

        <div class="card" style="height: 35rem;">
          
          <br>
          <br>
          <br>
          <br>
          <br>
          <div class="card-body">

            <h2 class="card-title">Create Receipt</h2>

            <br>

            <p class="card-text text-muted h3">Create and enter the necessary information for the creation of
              the receipt of donors and then export as readable pdf file</p>
            <div class="container">

              <!-- Trigger the modal with a button -->
              <button type="button" class="btn btn-primary btn-lg" data-toggle="modal"
                id="createReceiptBtn">Create</button>
              <!-- Modal -->
              <div id="createReceiptModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                  <span class="close">&times;</span>


                  <div class="content">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="card" >
                            <div class="card-header card-header-primary">
                              <h4 class="card-title">Create Receipt</h4>
                              <p class="card-category ">Enter necessary information for the creation of this receipt</p>
                            </div>
                            <div class="card-body">
                              <form method="post"  id="saveReceiptForm">
                                <div class="row">
                                  <div class="col-md-5">
                                    <div class="form-group">
                                      <label class="bmd-label-floating">Email</label>
                                      <input type="email" name="email" class="form-control" placeholder="Enter Donors' Email">
                                    </div>
                                  </div>
                                  <div class="col-md-5">
                                    <div class="form-group">
                                      <label class="bmd-label-floating">First Name</label>
                                      <input type="text" name="firstname" class="form-control" placeholder="Enter Donors' First Name">
                                    </div>
                                  </div>
                                  
                                  <div class="col-md-5">
                                    <div class="form-group">
                                      <label class="bmd-label-floating">Last Name</label>
                                      <input type="text" name="lastname" class="form-control" placeholder="Enter Donors' Last Name">
                                    </div>
                                    
                                  </div>

                                  <div class="col-md-5">
                                    <div class="form-group">
                                      <label class="bmd-label-floating">Address</label>
                                      <input type="text" name="address" class="form-control" placeholder="Enter Donors' Address">

                                    </div>
                                  </div>
                                 
                                </div>
                                <div class="row">
                                  <div class="col-md-5">
                                    <div class="form-group">
                                      <label class="bmd-label-floating">Phone Number</label>
                                      <input type="tel" name="phone" class="form-control" placeholder="Enter Donors' Phone Number">
                                    </div>
                                  </div>

                                  <div class="col-md-5">
                                    <div class="form-group">
                                      <label class="bmd-label-floating">Amount Donated($)</label>
                                      <input min="0.01" name="amount" value="1.00" step="0.01" max="12500" type="number" class="form-control"
                                        placeholder="Enter Donors' Amount">
                                    </div>
                                  </div>

                                  <div class="col-md-10">
                                    <div class="form-group">
                                      <label class="bmd-label-floating">Payment Method</label>
                                      
                                      <select form="saveReceiptForm" class="select-text" placeholder="Choose Your Payment Method" name="payment_method" >
                                        <option value="card">Card</option>
                                        <option value="cash">Cash</option>
                                        <option value="banktransfer">Bank Transfer</option>
                                        <option value="cryptocurreny">Crypto Currency</option>

                                      </select>
                                    </div>
                                    
                                  </div>

                                  <div class="col-md-10">
                                    <div class="form-group">
                                      <label class="bmd-label-floating">Receipt Date Issued</label>
                                      <input  type="date"  id="theDate" class="form-control" disabled>
                                    </div>
                                    <script>
                                      document.getElementById('theDate').value = new Date().toISOString().substring(0, 10);
                                    
                                    </script>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-10">
                                    <div class="form-group">
                                      <label class="bmd-label-floating">Date Donated</label>
                                      <input type="date" id="date_donated" name="date_donated" class="form-control" placeholder="Select Dated Donor Donated">
                                    </div>
                                   
                                    
                                  </div>
                                </div>

                                <button type="submit" class="btn btn-primary btn-md pull-right">Save and Print</button>
                                <div class="clearfix"></div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                </div>

              </div>

            </div>

          </div>

        </div>
      </div>
      <div class="col-lg-5 col-md-6 col-sm-6">
        <div class="card" style="height: 35rem;">


        
          <br>
          <br>
          <br>
          <br>
          <br>
          <div class="card-body">

            <h2 class="card-title">View Receipt History</h2>
            <br>
            <p class="card-text text-muted h3">Have a glance at the history of Receipts created for donors recently</p>
            <p></p>
            <br>

            <div class="container">

              <!-- Trigger the modal with a button -->
              <button type="button" class="btn btn-primary btn-lg" data-toggle="modal"
                id="viewReceiptsBtn">View</button>
              <!-- Modal -->
              <div id="viewReceiptsModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content" style="width: 85rem;">
                  <span class="close">&times;</span>


                  <div class="content">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="card" style="width: 80rem;">

                            <div class="card-header card-header-primary">
                              <h4 class="card-title">View Donor's Receipts History</h4>

                            </div>
                            <div class="card-body">
                              <form>
                                <div class="row">

                                  <div class="table-responsive">
                                    <table  draggable="true" class="table">
                                      <thead class=" text-primary">
                                        <th>
                                          Reciept ID
                                        </th>
                                        <th>
                                          Email
                                        </th>
                                     
                                        <th>
                                          First Name
                                        </th>
                                        <th>
                                          Last Name
                                        </th>

                                        <th>
                                          Amount
                                        </th>

                                        <th>
                                          Payment Method
                                        </th>
                                        <th>
                                          Phone
                                        </th>

                                        <th>
                                          Adress 
                                        </th>

                                        <th>
                                          Date Donated
                                        </th>

                                      </thead>
                                      <tbody>

                                        {{.view_receipts_table}}
                                      </tbody>
                                    </table>
                                  </div>
                                


                                </div>


                                <div class="clearfix"></div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                </div>

              </div>

            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
</div>
</div>