<div class="content">



  <div class="container-fluid">
    <div class="row">





      <div class="col-lg-5 col-md-6 col-sm-6">

        <div class="card" style="height: 35rem;">
          
          <br>
          <br>
          <br>
          <br>
          <br>
          <div class="card-body">

            <h2 class="card-title">Create Invoice</h2>

            <br>

            <p class="card-text text-muted h3">Create and enter the necessary information for the creation of
              the reciept of donors and then export as readable pdf file</p>
            <div class="container">

              <!-- Trigger the modal with a button -->
              <button type="button" class="btn btn-primary btn-lg" data-toggle="modal"
                id="createInvoiceBtn">Create</button>
              <!-- Modal -->
              <div id="createInvoiceModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                  <span class="close">&times;</span>


                  <div class="content">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="card" >
                            <div class="card-header card-header-primary">
                              <h4 class="card-title">Create Invoice</h4>
                              <p class="card-category ">Enter necessary information for the creation of this reciept</p>
                            </div>
                            <div class="card-body">
                              <form>
                                <div class="row">

                                  <div class="col-md-10">
                                    <div class="form-group">
                                      <label class="bmd-label-floating">First Name</label>
                                      <input type="text" class="form-control" placeholder="Enter Donors' First Name">
                                    </div>
                                  </div>
                                  <div class="col-md-10">
                                    <div class="form-group">
                                      <label class="bmd-label-floating">Last Name</label>
                                      <input type="text" class="form-control" placeholder="Enter Donors' Last Name">
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-10">
                                    <div class="form-group">
                                      <label class="bmd-label-floating">Amount Donated($)</label>
                                      <input min="0.01" step="0.01" max="12500" type="number" class="form-control"
                                        placeholder="Enter Donors' Amount">
                                    </div>
                                  </div>
                                  <div class="col-md-10">
                                    <div class="form-group">
                                      <label class="bmd-label-floating">Reciept Date Issued</label>
                                      <input type="date" id="theDate" class="form-control" disabled>
                                    </div>
                                    <script>
                                      document.getElementById('theDate').value = new Date().toISOString().substring(0, 10);
                                    </script>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-10">
                                    <div class="form-group">
                                      <label class="bmd-label-floating">Date Donated</label>
                                      <input type="date" class="form-control" placeholder="Select Dated Donor Donated">
                                    </div>
                                  </div>
                                </div>

                                <button type="submit" class="btn btn-primary btn-lg pull-right">Save and Print</button>
                                <div class="clearfix"></div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                </div>

              </div>

            </div>

          </div>

        </div>
      </div>
      <div class="col-lg-5 col-md-6 col-sm-6">
        <div class="card" style="height: 35rem;">


        
          <br>
          <br>
          <br>
          <br>
          <br>
          <div class="card-body">

            <h2 class="card-title">View Invoice History</h2>
            <br>
            <p class="card-text text-muted h3">Have a glance at the history of Invoices created for donors recently</p>
            <p></p>
            <br>

            <div class="container">

              <!-- Trigger the modal with a button -->
              <button type="button" class="btn btn-primary btn-lg" data-toggle="modal"
                id="viewInvoicesBtn">View</button>
              <!-- Modal -->
              <div id="viewInvoicesModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                  <span class="close">&times;</span>


                  <div class="content">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="card">

                            <div class="card-header card-header-primary">
                              <h4 class="card-title">View Created Invoices History</h4>

                            </div>
                            <div class="card-body">
                              <form>
                                <div class="row">




                                </div>


                                <div class="clearfix"></div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                </div>

              </div>

            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
</div>
</div>