<h2>Settings</h2>


<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Edit Profile</h4>
            <p class="card-category">Complete your profile</p>
          </div>
          <div class="card-body">
            <form id="updateAdminSettings">
              <div class="row">

                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Username</label>
                    <input type="text" class="form-control" value="{{.username}}" placeholder="{{.username}}">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Email address</label>
                    <input type="email" class="form-control" value="{{.email}}" placeholder="{{.email}}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Fist Name</label>
                    <input type="text" class="form-control" value="{{.firstname}}" placeholder="{{.firstname}}">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Last Name</label>
                    <input type="text" class="form-control" value="{{.lastname}}" placeholder="{{.lastname}}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">Adress</label>
                    <input type="text" class="form-control" value="{{.address}}" placeholder="{{.address}}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">City</label>
                    <input type="text" class="form-control" value="{{.city}}" placeholder="{{.city}}">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Country</label>
                    <input type="text" class="form-control" value="{{.country}}" placeholder="{{.country}}">
                  </div>
                </div>

              </div>

              <button class="btn btn-disabled pull-right" id="updateProfileBtn">Update Profile</button>
              <div class="clearfix"></div>
            </form>

            <script>


              $('#updateAdminSettings').on('change keyup paste', ':input', function (e) {
                // The form has been changed. Your code here.

                $('#updateProfileBtn').removeClass("btn-disabled")
                $('#updateProfileBtn').addClass("btn-primary")

              })
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>