<h2>Transactions</h2>


<div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title ">Donors</h4>
              <p class="card-category">Donors To Your Fund Raiser</p>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                    <th>
                      ID
                    </th>
                    <th>
                      Amount
                    </th>
                    <th>
                      Donation Type
                    </th>
                    <th>
                      Payment Method 
                    </th>
                    <th>
                      Donor First Name
                    </th>
                    <th>
                      Donor Last Name
                    </th>
                    <th>
                      Donor Address
                    </th>
                    <th>
                      Donor Phone Number
                    </th>
                   
                    <th>
                      Date Donated
                    </th>
                  </thead>
                  <tbody>
                   
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>


<!-- 
<div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title ">Donors</h4>
              <p class="card-category">Donors To Your Fund Raiser</p>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                    <th>
                      ID
                    </th>
                    <th>
                      Name
                    </th>
                    <th>
                      Country
                    </th>
                    <th>
                      City
                    </th>
                    <th>
                      Salary
                    </th>
                  </thead>
                  <tbody>
                  
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div> -->
