<h2>Transactions</h2>


<div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title ">Donations</h4>
              <p class="card-category">A Glance at the Donations To Your Fund Raiser</p>
              <div class="navbar-form">
                <span class="bmd-form-group white">
                  <div class="input-group no-border">
                    <input type="text"  id="searchTransactions" value="" class="form-control " style="color: white;" placeholder="Search...">
                    <!-- <button type="submit" class="btn btn-white btn-round btn-just-icon"></button> -->
                      <i class="material-icons">search</i>
                      <div class="ripple-container"></div>
                      <div class="ripple-container"></div>
                    </button>
                  </div>
                </span>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                    <th>
                      ID
                    </th>
                    <th>
                      Amount
                    </th>
                    <th>
                      Donation Type
                    </th>
                    <th>
                      Payment Method 
                    </th>
                    <th>
                      Donor First Name
                    </th>
                    <th>
                      Donor Last Name
                    </th>
                    <th>
                      Donor Address
                    </th>
                    <th>
                      Donor Phone Number
                    </th>
                   
                    <th>
                      Date Donated
                    </th>
                  </thead>
                  <tbody id="TransactionsTable">
                   {{.transactions_table}}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<script>



	$("#searchTransactions").keyup(function () {
		
		var value = $(this).val().toLowerCase();
		$("#TransactionsTable tr").filter(function () {
			$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
		});
	});


</script>

<!-- 
<div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title ">Donors</h4>
              <p class="card-category">Donors To Your Fund Raiser</p>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                    <th>
                      ID
                    </th>
                    <th>
                      Name
                    </th>
                    <th>
                      Country
                    </th>
                    <th>
                      City
                    </th>
                    <th>
                      Salary
                    </th>
                  </thead>
                  <tbody>
                  
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div> -->
